@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-size: 100%;
	background: linear-gradient(68.15deg, #1C1C1C 16.62%, #808080 85.61%);
}

.cabecalho {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
}

.cabecalho-imagem {
	height: 65px;
	width: 65px;
}

.cabecalho-menu {
	display: flex;
	gap: 35px;
}

.cabecalho-menu-item {
	font-family: 'Sarala', sans-serif;
	color: #FFF2E7;
	font-weight: 400;
	font-size: 18px;
}

.cabecalho-menu-item:hover {
	background-color: #A9A9A9;
	font-size: 20px;
	border-radius: 5px;
}

.conteudo {
	margin-bottom: 50px;
	border-top: 0.2px solid #808080;
}

.conteudo-principal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.conteudo-principal-escrito {
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.conteudo-principal-escrito-titulo {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 64px;
	color: #FFF2E7;
}

.conteudo-principal-escrito-titulo:hover {
	font-weight: 410;
	font-size: 74px;
}

.conteudo-principal-escrito-subtitulo {
	font-family: 'Sarala', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
	background-color: #ECD6C4;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	width: 210px;
	height: 50px;
	border: none;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.conteudo-principal-escrito-botao:hover {
	width: 215px;
	height: 60px;
	color: #ffffff;
	background-color: #c4302b;
}

.conteudo-principal-imagem {
	margin-top: 20px;
	height: 280px;
	width: 420px;
	border: 0.2px solid #808080;
	border-radius: 20px;
	box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.25);
}

.conteudo-principal-imagem:hover {
	height: 300px;
	width: 440px;
}

.conteudo-secundario {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin-top: 40px;
}

.conteudo-secundario-titulo {
	border-bottom: 0.2px solid #808080;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Righteous', cursive;
	font-weight: 400;
	font-size: 30px;
	color: #FFF2E7;
}
.conteudo-secundario-paragrafo {
	padding-top: 10px;
	font-family: 'Sarala', sans-serif;
	font-weight: 300;
	width: 80%;
	font-size: 18px;
	text-align: center;
	color: #ECD6C4;
}

.rodape {
	border-top: 0.2px solid #808080;
	height: 60px;

}

.rodape-paragrafo {
	margin-top: 13px;
	text-align: center;
	font-family: 'Righteous', cursive;
	font-weight: 400;
	font-size: 24px;
	color: #FFF2E7;
}